<div class="header">
    <h1>Costumes</h1>
</div>

<%= link_to "Sort by Year", costumes_path, type: "button", class: "btn btn-default btn-lg center-block sort" %>

<div class="container-fluid">
    <% @genres.each do |genre| %>
        <div class="row year">
            <% if genre.costumes.exists? %>
                <h2><%= genre.name %></h2>
            <% end %>
        </div>

        <div class="gallery">
            <div class="row">
                <% genre.costumes.sort_by{|t| - t.created_at.to_i}.each do |costume| %>
                    <div class="col-xs-6 col-sm-3 col-lg-2 center-block">
                        <%= link_to image_tag(costume.thumbnail, class: "img-responsive"), costume_path(costume.id) %>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
