/* CODE PAGE */


.projects img {
	margin: 20px auto 10px;
	padding: 10px 0;
	max-height: 250px;
}

.projects img:hover {
	opacity: .5;
}

.projects p {
	text-align: center;
}

/* PROJECT PAGES: IMAGE GALLERY */
/* For styles for the text portions of the page, see costumepages.css (.notes & .title) */

.code-thumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.code-thumbs li {
	margin: 2% auto;
	height: 0;
	padding-bottom: 25%;
	overflow: hidden;
}

.code-thumbs li img {
	margin: 0 auto;
}

.code-thumbs img:hover {
	opacity: .5;
}
/* INDEX PAGES */

.year {
	margin-left: 30px;
}

.gallery {
	width: 100%;
	padding: 0 10px;
}

.gallery img {
	margin: 0 auto 15px;
	padding: 10px 0;
	max-height: 300px;
}

.gallery img:hover {
	opacity: .5;
}

.sort {
	width: 110px;
	margin-top: 20px;
}

/* SHOW PAGES */
.icon img {
	margin: 2% auto 4%;
}

.image-gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.image-gallery li {
	margin: 1.25% auto;
	height: 0;
	padding-bottom: 15%;
	overflow: hidden;
}

.image-gallery li img {
	margin: 0 auto;
}

.image-gallery img:hover {
	opacity: .5;
}

.notes {
	padding: 0 3%;
	font-size: 1.25em;
}

.notes h2 {
	font-family: 'Amatic SC', sans-serif;
	font-size: 2.5em;
}

.notes .title {
	font-weight: 700;
	font-size: .85em;
	margin-right: 5px; 
}

.notes a, .notes a:visited {
	color: #ff6f4d;
	text-decoration: none;
}

.notes a:hover {
	color: #323232;
	text-decoration: none;
}

.notes p {
	margin: 20px 0;
}

.notes p a {
	font-family: 'Amatic SC', sans-serif;
	font-size: 1.25em;
}

/* COMING SOON */
.coming-soon {
	text-align: center;
	margin: 110px 0;
	width: 100%;
}

/* MODAL */
.modal-body img {
	margin: 0 auto;
}

.controls {          
    display: block;
    font-size: 1.2em;
    padding-top:8px;
    font-weight: bold;          
}

.next {
    float: right;
    text-align: right;
}

.next, .previous, .next:visited, .previous:visited {
	text-decoration: none;
	color: #323232;
}

.next:hover, .previous:hover {
	text-decoration: none;
	color: #ff6f4d;
}

/*.caption {
	text-align: center;
	font-size: 1.2em;
	color: #323232;
}

.caption a {
	text-decoration: none;
	color: #ff6f4d;
}*/
/*HOME PAGE*/

.jumbotron {
	background-image: url("header.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding: 10%;
}

.logo {
	background-color: #323232;
	margin-top: -30px;
}

.logo h3 {
	padding: 3%;
	margin-top: -5px;
	margin-bottom: -5px;
}

.logo img {
	margin: auto;
}

.features {
	padding: 2% 0;
	margin-top: 1%;
	width: 100%;
}

.features img {
	width: 300px;
	position: center;
	margin: auto;
	border-radius: 50%;
}

.features p {
	text-align: center;
	color: #323232;
	font-size: 1.2em;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.features .bold {
	margin-top: 15px;
	font-weight: 700;
	margin-bottom: 0;
}
/* ABOUT PAGE */

.headshot img {
	margin: auto;
	padding: 25px;
}

.bio {
	font-size: 1.2em;
	text-align: left;
	color: #323232;
	padding: 40px 40px 0;
}

.bio p {
	margin-bottom: 10px;
}

.bio h3 {
	font-family: 'Amatic SC', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 50px;
}

.con-schedule {
	list-style-type: circle;
}

.con-schedule li {
	padding: 5px 0;
}

.con-schedule a {
	text-decoration: none;
	color: #ff6f4d;
}


/* CONTACT PAGE*/
.contact ul {
	list-style: none;
	width: 95%;
}

.contact li {
	float: right;
	margin: 5% 2%;
	clear: right;
	font-size: 1.15em;
}

.links a {
	display: block;
	padding: 20px 100px 0 0;
	min-height: 62px;
	background-repeat: no-repeat;
	background-size: 60px;
	background-position: right;
}

.links a, .links a:visited {
	text-decoration: none;
	color: #323232;
}

.links a:hover {
	text-decoration: none;
	color: #ff6f4d;
}

#twitter a {
	background-image: url(/assets/contact/twitter-152447f7f44043f0fa001aba37eab0d9.svg);	
}

#facebook a {
	background-image: url(/assets/contact/facebook-df216d72dc19e402a0b0f1b01144c095.svg);	
}

#instagram a {
	background-image: url(/assets/contact/instagram-c1e2144ecdef3058334b272e5aa2baa3.svg);	
}

#github a {
	background-image: url(/assets/contact/github-cdc2101ae87d6104d391b4114545c057.svg);	
}

#linkedin a {
	background-image: url(/assets/contact/linkedin-f40df74bf68dd355902a25f22d708be3.svg);	
}

#message {
	margin-bottom: 20px;
} 

label {
	margin-top: 20px;
}

.email form {
	width: 90%;
	margin: 20px auto 0;
}

.email legend h2 {
	background-image: url(/assets/contact/email-11d995509732a666b8893c54ae7952ec.svg);
	background-repeat: no-repeat;
	background-size: 33px;
	padding: 0 0 0 40px;
}

/* SHOPS PAGE */
.shop {
	width: 100%;
	padding: 2%;
	margin-bottom: 30px;
}

.shop img {
	margin: 2% auto;
}

.thumbs {
	width: 75%;
	margin: 0 auto;

}

.thumbs img {
	margin: auto;
}

.request {
	width: 85%;
	text-align: center;
	margin: 3% auto 30px;
}

.request p {
	font-size: 1.15em;
}

.request a, .email a {
	color: #ff6f4d;
	font-family: 'Amatic SC', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */


html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

/** {
	border: 1px solid black;
}*/

/* GENERAL */

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

p {
	margin: 0;
	padding: 0;
}

/* NAVBAR */
.navbar li {
	font-size: 1.15em;
}

.navbar-brand img {
	padding-bottom: 10px;
	height: 30px;
}

/* HEADER */
.header {
	background-image: url(/assets/header-81f9e876ab3aef9f4f2f8f9962848c9c.jpg);
	background-repeat: repeat-x;
	width: 100%;
}

.header h1{
	font-family: 'Amatic SC', sans-serif;
	font-size: 4em;
	font-weight: 700;
	text-align: right;
	color: #323232;
	padding-top: 75px;
	margin: 0 2% 10px 0;
}

/* FOOTER */
.buffer {
	height: 100px;
}

footer {
	background-color: #ff6f4d;
	/*position: absolute;*/
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #f7fafe;
	/*margin-top: 20px;*/
}

footer p {
	font-family: 'Amatic SC', sans-serif;
	font-size: 1.5em;
	float: left;
	padding: 2%;
}

footer li {
	font-size: 1.15em;
	display: inline-block;
	list-style: none;
	padding: 2%;
	float: right;
}

footer li a, footer li a:visited {
	color: #f7fafe;
}

/* MEDIA QUERIES FOR MOBILE LAYOUT FIXES */
@media (max-width: 767px) {

	/* MOBILE FOOTER */
	.buffer {
		height: 0;
	}
	footer {
		position: absolute;
		margin-top: 20px;
		bottom: auto;
	}
	footer p {
		font-size: 1em;
	}
	footer li {
		font-size: .8em;
	}

	/* MOBILE CODE PAGE */
	.code-thumbs li {
		padding-bottom: 50%;
	}

	/* MOBILE COSTUME PAGE */
	.image-gallery li {
		padding-bottom: 20%;
	}
	.header h1 {
		margin-bottom: 15px;
	}

	/* MOBILE SHOPS PAGE */
	.thumbs {
		width: 100%;
	}

	/* MOBILE ABOUT PAGE */
	.bio {
		margin-bottom: 0;
		padding: 20px;
	}
}
