/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/* GENERAL */
/* line 2, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
body {
  font-family: "Open Sans Condensed", sans-serif;
}
/* line 4, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
body p {
  margin: 0;
  padding: 0;
}

/* NAVBAR */
/* line 12, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
.navbar li {
  font-size: 1.15em;
}
/* line 15, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
.navbar .navbar-brand img {
  padding-bottom: 10px;
  height: 30px;
}

/* HEADER */
/* line 22, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
.header {
  background-image: url(/assets/header-e230b1d2f45c143e9c450f2cb242ccb7.jpg);
  background-repeat: repeat-x;
  width: 100%;
}
/* line 26, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
.header h1 {
  font-family: "Amatic SC", sans-serif;
  font-size: 4em;
  font-weight: 700;
  text-align: right;
  color: #323232;
  padding-top: 75px;
  margin: 0 2% 10px 0;
}

/* FOOTER */
/* line 38, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
.buffer {
  height: 100px;
}

/* line 42, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
footer {
  background-color: #ff6f4d;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #f7fafe;
}
/* line 48, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
footer p {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5em;
  float: left;
  padding: 2%;
}
/* line 54, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
footer li {
  font-size: 1.15em;
  display: inline-block;
  list-style: none;
  padding: 2%;
  float: right;
}
/* line 60, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
footer li a, footer li a:visited {
  color: #f7fafe;
}

/* MEDIA QUERIES FOR MOBILE LAYOUT FIXES */
@media (max-width: 767px) {
  /* MOBILE FOOTER */
  /* line 70, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
  .buffer {
    height: 0;
  }

  /* line 73, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
  footer {
    position: absolute;
    margin-top: 20px;
    bottom: auto;
  }
  /* line 77, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
  footer p {
    font-size: 1em;
  }
  /* line 80, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
  footer li {
    font-size: .8em;
  }

  /* MOBILE CODE PAGE */
  /* line 86, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
  .code-thumbs li {
    padding-bottom: 50%;
  }

  /* MOBILE COSTUME PAGE */
  /* line 91, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
  .header h1 {
    margin-bottom: 15px;
  }

  /* line 94, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
  .image-gallery li {
    padding-bottom: 20%;
  }

  /* MOBILE SHOPS PAGE */
  /* line 99, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
  .thumbs {
    width: 100%;
  }

  /* MOBILE ABOUT PAGE */
  /* line 104, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_general.css.scss */
  .bio {
    margin-bottom: 0;
    padding: 20px;
  }
}
/*HOME PAGE*/
/* line 2, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_homepage.css.scss */
.jumbotron {
  background: url(/assets/header-e230b1d2f45c143e9c450f2cb242ccb7.jpg) center repeat-x fixed;
  background-size: cover;
  padding: 10%;
}

/* line 8, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_homepage.css.scss */
.logo {
  background-color: #323232;
  margin-top: -30px;
}
/* line 11, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_homepage.css.scss */
.logo h3 {
  padding: 3%;
  margin-top: -5px;
  margin-bottom: -5px;
}
/* line 16, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_homepage.css.scss */
.logo img {
  margin: auto;
}

/* line 21, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_homepage.css.scss */
.features {
  padding: 2% 0;
  margin-top: 1%;
  width: 100%;
}
/* line 25, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_homepage.css.scss */
.features img {
  width: 300px;
  position: center;
  margin: auto;
  border-radius: 50%;
}
/* line 30, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_homepage.css.scss */
.features img:hover {
  opacity: 0.5;
}
/* line 34, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_homepage.css.scss */
.features p {
  text-align: center;
  color: #323232;
  font-size: 1.2em;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
/* line 41, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_homepage.css.scss */
.features .bold {
  margin-top: 15px;
  font-weight: 700;
  margin-bottom: 0;
}

/* ABOUT PAGE */
/* line 2, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.headshot img {
  margin: auto;
  padding: 25px;
}

/* line 7, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.bio {
  font-size: 1.2em;
  text-align: left;
  color: #323232;
  padding: 40px 40px 0;
}
/* line 12, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.bio p {
  margin-bottom: 10px;
}
/* line 15, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.bio h3 {
  font-family: "Amatic SC", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 50px;
}

/* line 23, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.con-schedule {
  list-style-type: circle;
}
/* line 25, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.con-schedule li {
  padding: 5px 0;
}
/* line 28, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.con-schedule a {
  text-decoration: none;
  color: #ff6f4d;
}

/* CONTACT PAGE*/
/* line 38, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact ul {
  list-style: none;
  width: 95%;
}
/* line 42, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact li {
  float: right;
  margin: 5% 2%;
  clear: right;
  font-size: 1.15em;
}
/* line 48, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact .links {
  display: block;
  padding: 20px 50px 0 0;
  min-height: 62px;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: right;
}
/* line 55, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact .links a, .contact .links a:visited {
  text-decoration: none;
  color: #323232;
}
/* line 58, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact .links a:hover, .contact .links a:visited:hover {
  text-decoration: none;
  color: #ff6f4d;
}
/* line 65, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact #twitter {
  background-image: url(/assets/contact/twitter-0111823439ab5e94ea721259c4d04f1d.png);
}
/* line 68, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact #facebook {
  background-image: url(/assets/contact/facebook-de41f7b6fc9a08e1d4af6b6e482a9c25.png);
}
/* line 71, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact #instagram {
  background-image: url(/assets/contact/instagram-970a53efd4e62d2081e4d9564173f78b.png);
}
/* line 74, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact #github {
  background-image: url(/assets/contact/github-ce1d0a4998c5e663db3a61de310233ec.png);
}
/* line 77, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.contact #linkedin {
  background-image: url(/assets/contact/linkedin-fe750d395fd5266baf6b713e2914d4df.png);
}

/* line 84, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.email form {
  width: 90%;
  margin: 20px auto 0;
}
/* line 88, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.email #email {
  height: 60px;
  padding: 0 0 10px 0;
}
/* line 92, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.email legend h2 {
  display: inline-block;
}
/* line 95, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.email label {
  margin-top: 20px;
}
/* line 98, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.email #message {
  margin-bottom: 20px;
}

/* SHOPS PAGE */
/* line 104, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.shop {
  width: 100%;
  padding: 2%;
  margin-bottom: 30px;
}
/* line 108, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.shop img {
  margin: 2% auto;
}
/* line 111, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.shop .thumbs {
  width: 75%;
  margin: 0 auto;
}
/* line 114, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.shop .thumbs img {
  margin: auto;
}

/* line 120, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.request {
  width: 85%;
  text-align: center;
  margin: 3% auto 30px;
}
/* line 124, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.request p {
  font-size: 1.15em;
}
/* line 127, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_infopages.css.scss */
.request a, .request .email a {
  color: #ff6f4d;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
}

/* CODE PAGE */
/* line 3, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_codepages.css.scss */
.projects img {
  margin: 20px auto 10px;
  padding: 10px 0;
  max-height: 250px;
}
/* line 7, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_codepages.css.scss */
.projects img:hover {
  opacity: 0.5;
}
/* line 11, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_codepages.css.scss */
.projects p {
  text-align: center;
}

/* PROJECT PAGES: IMAGE GALLERY */
/* For styles for the text portions of the page, see costumepages.css (.notes & .title) */
/* line 19, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_codepages.css.scss */
.code-thumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
/* line 24, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_codepages.css.scss */
.code-thumbs li {
  margin: 2% auto;
  height: 0;
  padding-bottom: 25%;
  overflow: hidden;
}
/* line 29, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_codepages.css.scss */
.code-thumbs li img {
  margin: 0 auto;
}
/* line 31, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_codepages.css.scss */
.code-thumbs li img:hover {
  opacity: 0.5;
}

/* INDEX PAGES */
/* line 2, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.sort {
  width: 110px;
  margin-top: 20px;
}

/* line 7, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.year {
  margin-left: 30px;
}

/* line 11, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.gallery {
  width: 100%;
  padding: 0 10px;
}
/* line 14, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.gallery img {
  margin: 0 auto 15px;
  padding: 10px 0;
  max-height: 300px;
}
/* line 18, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.gallery img:hover {
  opacity: 0.5;
}

/* SHOW PAGES */
/* line 25, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.icon img {
  margin: 2% auto 4%;
}

/* line 29, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.image-gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
/* line 34, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.image-gallery li {
  margin: 1.25% auto;
  height: 0;
  padding-bottom: 15%;
  overflow: hidden;
}
/* line 39, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.image-gallery li img {
  margin: 0 auto;
}
/* line 41, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.image-gallery li img:hover {
  opacity: 0.5;
}

/* line 48, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.notes {
  padding: 0 3%;
  font-size: 1.25em;
}
/* line 51, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.notes h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 2.5em;
}
/* line 55, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.notes .title {
  font-weight: 700;
  font-size: .85em;
  margin-right: 5px;
}
/* line 60, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.notes a, .notes a:visited {
  color: #ff6f4d;
  text-decoration: none;
}
/* line 63, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.notes a:hover, .notes a:visited:hover {
  color: #323232;
  text-decoration: none;
}
/* line 68, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.notes p {
  margin: 20px 0;
}
/* line 70, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.notes p a {
  font-family: "Amatic SC", sans-serif;
  font-size: 1.25em;
}

/* COMING SOON */
/* line 78, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.coming-soon {
  text-align: center;
  margin: 110px 0;
  width: 100%;
}

/* MODAL */
/* line 85, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.modal-body img {
  margin: 0 auto;
}

/* line 89, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.controls {
  display: block;
  font-size: 1.2em;
  padding-top: 8px;
  font-weight: bold;
}
/* line 94, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.controls .next {
  float: right;
  text-align: right;
}
/* line 98, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.controls .next, .controls .previous, .controls .next:visited, .controls .previous:visited {
  text-decoration: none;
  color: #323232;
}
/* line 101, /Users/melvinopolis/Sites/melvinopolis/app/assets/stylesheets/_costumepages.css.scss */
.controls .next:hover, .controls .previous:hover, .controls .next:visited:hover, .controls .previous:visited:hover {
  text-decoration: none;
  color: #ff6f4d;
}

/*.caption {
	text-align: center;
	font-size: 1.2em;
	color: $mainColor;
	a {
		text-decoration: none;
		color: $accentColor;
	}
}*/
