<div class="header">
	<h1>Web Development</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 notes">
        	<!-- Project Description -->
			<h2>GISHWHES 2015</h2>
			
			<span class="title">See the sites </span>
			<%= link_to "Here ", "//melvinopolis.github.io/gishwhes-mascots/", target: "_blank"%> 
			&nbsp;
			<span class="title">&amp; </span>
			<%= link_to "Here ", "//melvinopolis.github.io/gishwhes-amish/", target: "_blank"%> 
			&nbsp;
			<span class="title"> and the code on Github</span>
			<%= link_to "Here ", "//github.com/melvinopolis/gishwhes-mascots", target: "_blank"%>
			&nbsp;
			<span class="title">&amp; </span>
			<%= link_to "Here ", "//github.com/melvinopolis/gishwhes-amish", target: "_blank"%>
		
			<p>Description coming soon</p>
		</div>

        <div class="col-xs-12 col-sm-6">
        	<!-- Thumbnails -->
			<div class="coming-soon">
                <h2>Photos coming soon!</h2>
            </div>
		</div>
			
		<!-- Modal Image Gallery -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">         
		            <div class="modal-body">                
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
	</div>
</div>