<div class="header">
	<h1>Web Development</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 notes">
        	<!-- Project Description -->
			<h2>Tech Talent South - Teaching</h2>
		
			<p>
			Description coming soon
			</p>
		</div>

        <div class="col-xs-12 col-sm-6">
        	<!-- Thumbnails -->
			<ul class="row code-thumbs">
				<li class="col-xs-12 col-md-6"><%= image_tag('code/tts1.jpg', class: "img-responsive", alt: "Teaching Pop Up Code Wilmington") %></li>
				<li class="col-xs-12 col-md-6"><%= image_tag('code/tts2.jpg', class: "img-responsive", alt: "Pop Up Code Wilmington class") %></li>
			</ul>
		</div>
			
		<!-- Modal Image Gallery -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">         
		            <div class="modal-body">                
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
	</div>
</div>