/* CODE PAGE */
.projects {
	img {
		margin: 20px auto 10px;
		padding: 10px 0;
		max-height: 250px;
		&:hover {
			opacity: $hover;
		}
	}
	p {
		text-align: center;
	}
}

/* PROJECT PAGES: IMAGE GALLERY */
/* For styles for the text portions of the page, see costumepages.css (.notes & .title) */

.code-thumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	li {
		margin: 2% auto;
		height: 0;
		padding-bottom: 25%;
		overflow: hidden;
		img {
			margin: 0 auto;
			&:hover {
				opacity: $hover;
			}
		}
	}
}