 // INDEX PAGES 
.sort {
	width: 110px;
	margin-top: 20px;
}

.year {
	margin-left: 30px;
}

.gallery {
	width: 100%;
	padding: 0 10px;
	img {
		margin: 0 auto 15px;
		padding: 10px 0;
		max-height: 300px;
		&:hover {
			opacity: $hover;
		}
	}
}

// SHOW PAGES 
.icon img {
	margin: 2% auto 4%;
}

.image-gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	li {
		margin: 1.25% auto;
		height: 0;
		padding-bottom: 15%;
		overflow: hidden;
		img {
			margin: 0 auto;
			&:hover {
				opacity: $hover;
			}
		}
	}
}

.notes {
	padding: 0 3%;
	font-size: 1.25em;
	h2 {
		font-family: $accentFont;
		font-size: 2.5em;
	}
	.title {
		font-family: $scriptFont;
		text-transform: lowercase;
		font-weight: 700;
		font-size: 1.75em;
		margin-right: 5px; 
	}
	a, a:visited {
		color: $accentColor;
		text-decoration: none;
		font-family: $accentFont;
		font-size: 1.3em;
		&:hover {
			color: $mainColor;
			text-decoration: none;
		}
	}
	p {
		margin: 20px 0;
	}
}

// COMING SOON
.coming-soon {
	text-align: center;
	margin: 110px 0;
	width: 100%;
}

// MODAL 
.modal-body img {
	margin: 0 auto;
}

.controls {          
    display: block;
    font-size: 1.2em;
    padding-top:8px;
    font-weight: bold;  
    .next {
	    float: right;
	    text-align: right;
	}  
	.next, .previous, .next:visited, .previous:visited {
		text-decoration: none;
		color: $mainColor;
		&:hover {
			text-decoration: none;
			color: $accentColor;
		}
	}      
}

//.caption {
// 	text-align: center;
// 	font-size: 1.2em;
// 	color: $mainColor;
// 	a {
// 		text-decoration: none;
// 		color: $accentColor;
// 	}
// }