/*HOME PAGE*/
.jumbotron {
	background: image-url("header.svg") repeat-x fixed;
	background-size: 50%;
	padding: 10%;
}

.logo {
	background-color: $mainColor;
	margin-top: -30px;
	h3 {
		padding: 3%;
		margin-top: -5px;
		margin-bottom: -5px;
		font-family: $accentFont;
		color: $lightColor;
		font-size: 4em;
	}
	img {
		margin: auto;
	}
	&.sub-section {
		width: 90%;
		margin: 0 auto;
		background-color: #fff;
		border-bottom: 2px solid $accentColor;
		h3 {
			padding: 2% 4% 1%;
			color: $mainColor;
		}
	}
}

.features {
	padding: 2% 0;
	margin-top: 1%;
	width: 100%;
	img {
		width: 250px;
		position: center;
		margin: auto;
		border-radius: 50%;
		&:hover {
			opacity: $hover;
		}
	}
	p {
		text-align: center;
		color: $mainColor;
		font-size: 1.2em;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.bold {
		font-family: $scriptFont;
		text-transform: lowercase;
		font-size: 2.5em;
		margin-top: 15px;
		margin-bottom: 0;
	}
	&.recent img {
		width: 200px;
		border-radius: 0;
	}
}