/* ABOUT PAGE */
.headshot img {
	margin: auto;
	padding: 25px;
}

.bio {
	font-size: 1.2em;
	text-align: left;
	color: $mainColor;
	padding: 40px 40px 0;
	p {
		margin-bottom: 10px;
	}
	h3 {
		font-family: $accentFont;
		font-size: 1.5em;
		font-weight: 700;
		margin-top: 50px;
	}
}

.con-schedule {
	list-style-type: circle;
	li {
		padding: 5px 0;
	}
	a {
		text-decoration: none;
		color: $accentColor;
	}
}


/* CONTACT PAGE*/
.contact {
	// Contact Links
	ul {
		list-style: none;
		width: 95%;
	}
	li {
		float: right;
		margin: 5% 2%;
		clear: right;
		font-size: 1.15em;
	}
	.links {
		display: block;
		padding: 20px 100px 0 0;
		min-height: 62px;
		background-repeat: no-repeat;
		background-size: 60px;
		background-position: right;
		a, a:visited {
			text-decoration: none;
			color: $mainColor;
			&:hover {
				text-decoration: none;
				color: $accentColor;
			}
		}
	}
	// Contact Link Icons
	#twitter {
		background-image: image-url('contact/twitter.png');	
	}
	#facebook {
		background-image: image-url('contact/facebook.png');	
	}
	#instagram {
		background-image: image-url('contact/instagram.png');	
	}
	#github {
		background-image: image-url('contact/github.png');	
	}
	#linkedin {
		background-image: image-url('contact/linkedin.png');
	}	
}

// Contact Form Elements
.well {
	border-radius: 0;
}
.email {
	form {
		width: 90%;
		margin: 20px auto 0;
		legend {
			h2 {
				display: inline-block;
			}
			#email {
				height: 60px;
				padding: 0 10px 10px 0;
			}
		}
		label {
			// display: none;
			margin-top: 20px;
			font-weight: lighter;
		}
		#message {
			margin-bottom: 20px;
		} 
		input, textarea {
			background: transparent;
			border-radius: 0;
			box-shadow: none;
			border: none;
			border-bottom: 1px solid $mainColor;
			&:focus {
				border: none;
				box-shadow: none;
				border-bottom: 2px solid $accentColor;
			}
		}
	}
}

/* SHOPS PAGE */
.shop {
	width: 100%;
	padding: 2%;
	margin-bottom: 30px;
	img {
		margin: 2% auto;
	}
	.thumbs {
		width: 75%;
		margin: 0 auto;
		img {
			margin: auto;
		}
	}
}

.request {
	width: 85%;
	text-align: center;
	margin: 3% auto 30px;
	p {
		font-size: 1.15em;
	}
}

.request a, .email a {
		color: $accentColor;
		font-family: $accentFont;
		font-weight: 700;
		font-size: 1.25em;
	}