.resume {
	h1 {
		text-align: right;
		color: $accentColor;
		padding-right: 30px;
	}
	.row {
		width: 100%;
		padding: 0;
	}
	div {
		padding: 0 30px;
		&:nth-child(2n+1) {
			float: right;
			clear: right;
			& > * {
				text-align: right;
			}
		}
		&:nth-child(2n) {
			float: left;
			clear: left;
		}
	}
	h2 {
		border-bottom: 2px solid $accentColor;
		padding-bottom: -10px;
	}
	ul {
		list-style: none;
		line-height: 2em;
		padding: 0 10px;
		li {
			a, a:visited {
				color: $accentColor;
				font-family: $accentFont;
				font-size: 1.5em;
				font-weight: 700;
				&:hover {
					color: $mainColor;
					text-decoration: none;
				}
			}
			span {
				font-size: 1.5em;
				font-family: $accentFont;
				font-weight: 700;
			}
		}
	}
}