/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@font-face {
    font-family: 'Jenna Sue';
    src: url(font-path('jennasue-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('jennasue-webfont.woff')) format('woff'), 
         url(font-path('jennasue-webfont.ttf'))  format('truetype'),
         url(font-path('jennasue-webfont.svg') + "#JennaSue") format('svg');
}

// VARIABLES
$accentColor: #ff6f4d;
$mainColor: #323232;
$lightColor: #f7fafe;
$mainFont: 'Open Sans Condensed', sans-serif;
$accentFont: 'Amatic SC', sans-serif;
$scriptFont: 'Jenna Sue', sans-serif;
$hover: .5;

@import 
 		"general",
 		"homepage",
 		"infopages",
 		"codepages",
 		"costumepages",
 		"resume";