/*CODE PAGE*/

.projects {
	margin: 5% 0 15%;
}

.projects img {
	margin: auto;
	margin-bottom: 15px;
	padding: 10px 0;
}

.projects img:hover {
	opacity: .5;
}

.projects p {
	text-align: center;
}

/* Styles for the titles, descriptions, and image galleries are reused from costumepages.css */