/* ABOUT PAGE */
.headshot img {
	margin: auto;
	padding: 25px;
}

.bio {
	font-size: 1.2em;
	text-align: left;
	color: #323232;
	padding: 40px 40px 0;
}

.bio p {
	margin-bottom: 10px;
}

.bio h3 {
	font-family: 'Amatic SC', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 50px;
}

.con-schedule {
	list-style-type: circle;
}

.con-schedule li {
	padding: 5px 0;
}

.con-schedule a {
	text-decoration: none;
	color: #ff6f4d;
}


/* CONTACT PAGE*/
.contact ul {
	list-style: none;
	width: 95%;
}

.contact li {
	float: right;
	margin: 5% 2%;
	clear: right;
	font-size: 1.15em;
}

.links a {
	display: block;
	padding: 20px 100px 0 0;
	min-height: 62px;
	background-repeat: no-repeat;
	background-size: 60px;
	background-position: right;
}

.links a, .links a:visited {
	text-decoration: none;
	color: #323232;
}

.links a:hover {
	text-decoration: none;
	color: #ff6f4d;
}

#twitter a {
<<<<<<< HEAD:app/assets/stylesheets/infopages.css.scss
	background-image: url("//s3.amazonaws.com/melvinopolis-assets/assets/contact/twitter-1eb6271e50fca471c0aeabef14d84775.svg");	
}

#facebook a {
	background-image: url("//s3.amazonaws.com/melvinopolis-assets/assets/contact/facebook-1ef09c696bd2b505128583e7ed73b470.svg");	
}

#instagram a {
	background-image: url("//s3.amazonaws.com/melvinopolis-assets/assets/contact/instagram-3c42be375837b593e5f8ac4033ae156b.svg");	
}

#github a {
	background-image: url("//s3.amazonaws.com/melvinopolis-assets/assets/contact/github-54001797463658a1faeeac225e6e09b8.svg");	
}

#linkedin a {
	background-image: url("//s3.amazonaws.com/melvinopolis-assets/assets/contact/linkedin-47dc02bb2e185d0f3409b6a175042b9e.svg");	
=======
	background-image: url('contact/twitter.png');	
}

#facebook a {
	background-image: url('contact/facebook.png');	
}

#instagram a {
	background-image: url('contact/instagram.png');	
}

#github a {
	background-image: url('contact/github.png');	
}

#linkedin a {
	background-image: url('contact/linkedin.png');	
>>>>>>> parent of b69eb2c... Image optimization:app/assets/stylesheets/infopages.css
}

#message {
	margin-bottom: 20px;
} 

label {
	margin-top: 20px;
}

.email form {
	width: 90%;
	margin: 20px auto 0;
}

.email legend h2 {
<<<<<<< HEAD:app/assets/stylesheets/infopages.css.scss
	background-image: url('//s3.amazonaws.com/melvinopolis-assets/assets/contact/email-105357bc45740adc3d9cb0d0c6ba7945.svg');
=======
	background-image: url('contact/email.png');
>>>>>>> parent of b69eb2c... Image optimization:app/assets/stylesheets/infopages.css
	background-repeat: no-repeat;
	background-size: 33px;
	padding: 0 0 0 40px;
}

/* SHOPS PAGE */
.shop {
	width: 100%;
	padding: 2%;
	margin-bottom: 30px;
}

.shop img {
	margin: 2% auto;
}

.thumbs {
	width: 75%;
	margin: 0 auto;

}

.thumbs img {
	margin: auto;
}

.request {
	width: 85%;
	text-align: center;
	margin: 3% auto 30px;
}

.request p {
	font-size: 1.15em;
}

.request a, .email a {
	color: #ff6f4d;
	font-family: 'Amatic SC', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
}