/* ABOUT PAGE */
.headshot img {
	margin: auto;
	padding: 25px;
}

.bio {
	font-size: 1.2em;
	text-align: left;
	color: #323232;
	padding: 40px;
	margin-bottom: 40px;
}


/* CONTACT PAGE*/
.contact ul {
	list-style: none;
}

.contact img {
	float: right;
	margin: 5% 2%;
	clear: right;
}


/* SHOPS PAGE */
.shop {
	width: 100%;
	padding: 2%;
	margin-bottom: 30px;
}

.shop img {
	margin: 2% auto;
}

.thumbs {
	width: 75%;
	margin: 0 auto;

}

.thumbs img {
	margin: auto;
}

.request {
	width: 85%;
	text-align: center;
	margin: 3% auto 30px;
}

.request p {
	font-size: 1.15em;
}

.request a {
	color: #ff6f4d;
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	font-size: 1.25em;
}


/* COMING SOON */
.coming-soon {
	text-align: center;
	margin: 300px 0;
	width: 100%;
}