<!-- Placeholder form -->
<form class="well">
	<legend>
		<%= image_tag('contact/email.png', id: "email") %><h2>Send an email!</h2>
	</legend>
	
	<p>This form is just a sample and will be functional in the future. For now, please send your emails to <%= link_to "melvinopolis@gmail.com", "mailto:melvinopolis@gmail.com"%>. Thank you!</p>
	<hr>

	<label for="name"></label>
	<input type="text" id="name" name="user_name" class="form-control" placeholder="Name">

	<label for="mail"></label>
	<input type="email" id="mail" name="user_email" class="form-control" placeholder="Email">

	<label for="subject"></label>
	<div class="select">
		<select id="subject" name="email_subject" class="form-control">
			<option value="" disabled selected>Choose a subject</option>
			<option value="commissions">Commission Request</option>
			<option value="development">Web Development</option>
			<option value="other">Other</option>
		</select>
	</div>
	

	<label for="message"></label>
	<textarea id="message" name="user_message" class="form-control" placeholder="Message"></textarea>

	<br>
	<button type="" class="btn btn-default">Send</button>
</form>	