<!-- <div class="row thumbs" ng-app="shops" ng-controller="ShopController">
	<center>
		<a href="ttp://www.spoonflower.com/profiles/melvinopolis"><img alt="Widgetbannerbig" src="http://www.spoonflower.com/assets/WidgetBannerBig.jpg"></a>
	</center>

	<div class="col-md-3 col-sm-6 polaroid_outer" ng-repeat="listing in listings">
		<div class="polaroid_design_container">
			<div class="polaroid_design" id="design_{{ listing.id }}">
				<a href="http://www.spoonflower.com/designs/{{ id }}"><img alt="{{ listing.title }}" height="173" src="{{ listing.src }}" width="173"></a>
			</div>
			<div class='details'>
				<div class="polaroid_design_name">
					<a href="http://www.spoonflower.com/fabric/4392425">{{ listing.title }}</a>
				</div>
				<div class="polaroid_designer_name"></div>   
			</div>
		</div>
	</div>
</div> -->