<div class="container-fluid">
    <div class="row header">
        <h1>About Me</h1>
    </div>
        	
    <div class="row">
        <div class="col-xs-12 col-sm-6 headshot">
        	<%= image_tag "headshot.png", :class=>"img-responsive"%>
        </div>
        <div class="col-xs-12 col-sm-6 bio">
        	<p>Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here </p>
        	<p>Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here Bio goes here </p>
        </div>
    </div>
</div>