<div class="header">
    <h1>About Me</h1>
</div>
 
 <div class="container-fluid">       	
    <div class="row">
        <div class="col-xs-12 col-sm-6 headshot">
        	<%= image_tag "headshot.jpg", :class=>"img-responsive" %>
        </div>

        <div class="col-xs-12 col-sm-6 bio">

            <!-- This is a silly bio. And needs to be a bit longer. -->

            <p>I (Mariel Van Norman) am a web developer and seamstress located in Charlotte, NC. I am originally from Arizona, but have lived in North Carolina since 1997. I am a self-described crazy cat lady and have two cats of my own--Ace and Vlad. If I had free time, I would enjoy playing some of the many video games I have bought over the years.</p>

            <p>I started sewing on a whim in high school when I needed an elective class to fill up my schedule. It just so happened that I really enjoyed it and was also awesome at it, so I just kept on doing it. I made my first costume in 2002 out of things from the thrift store and my mom's closet and had so much fun. She stopped making costumes while in high school, but resumed in college when I was reunited with my nerdy side. Now, I spends a lot of my free time making costumes (some of them award-winning!) for myself and others.</p>

            <p>After graduating from college in 2011, I did not know what to do with my life. I waited tables and learned how to be a barista and a bartender at a variety of restaurants, all with excellent food, but did not know what career path to pursue until I discovered Tech Talent South. There, I discovered that web development is super cool and kind of like sewing websites, but with computers. Currently, I am most comfortable with HTML, CSS, and Ruby, but I'm working hard to learn more Javascript as well!</p>

        </div>
    </div>
</div>