<div class="header">
    <h1>About Me</h1>
</div>
 
 <div class="container-fluid">       	
    <div class="row">
        <div class="col-xs-12 col-sm-6 headshot">
        	<%= image_tag "headshot3.jpg", :class=>"img-responsive" %>
        </div>

        <div class="col-xs-12 col-sm-6 bio">

            <p>Hi, I'm Mariel &mdash; a web developer, coding instructor, and seamstress. </p>

            <ul class="bio-list">
                <li><i class="material-icons">location_on</i> <span>Charlotte, NC</span></li>
                <li><i class="material-icons">home</i> <span>Scottsdale, AZ</span> <i class="material-icons arrow">arrow_forward</i> <span>Chapel Hill, NC</span></li>
                <li><i class="material-icons">cake</i> <span>August 31</span></li>
                <li><i class="material-icons">pets</i> <span>Cats &ndash; Ace &amp; Vlad</span></li>
                <li><i class="material-icons">desktop_mac</i> <span>CSS/Sass, HTML, Ruby, JS, a little Swift</span></li>
                <li><i class="material-icons">work</i> <span>Tech Talent South</span></li>
                <li><i class="material-icons">thumb_up</i> <span>Sewing, cats, Sass, emojis✨</span></li>
                <li><i class="material-icons">thumb_down</i> <span>Onions, Papyrus, being cold</span></li>
            </ul>

            <h3>2016 Convention Schedule</h3>
            <ul class="con-schedule">
                <li><%= link_to "Ichibancon", "//ichibancon.com", target: "_blank" %>: Charlotte NC, December 31-January 3</li>
                <li><%= link_to "Katsucon", "//katsucon.org", target: "_blank" %>: National Harbor MD, February 12-14</li>
                <li>Other conventions TBA</li>
            </ul>
        </div>
    </div>
</div>