<div class="header">
	<h1>Web Development</h1>
</div>

<div class="container-fluid">
    <div class="row">
    	<div class="col-xs-12 col-sm-6">
			<!-- title of project -->
			<!-- github link -->
			<!-- description of project -->
		</div>

        <div class="col-xs-12 col-sm-6">
        	<!-- add some kind of title here? -->
			<ul class="row image-gallery">
				<li class="col-xs-6"><%= image_tag('code/gllry-home.jpg', class: "img-responsive", alt: "Home page") %></li>
				<li class="col-xs-6"><%= image_tag('code/gllry-profile.jpg', class: "img-responsive", alt: "Example profile page") %></li>
				<li class="col-xs-6"><%= image_tag('code/gllry-picture.jpg', class: "img-responsive", alt: "Example picture detail page") %></li>
				<li class="col-xs-6"><%= image_tag('code/gllry-mobile.jpg', class: "img-responsive", alt: "Mobile view of Members page") %></li>
				<!-- thumbnails -->
			</ul>
		</div>
			

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">         
		            <div class="modal-body">                
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</div>