<div class="jumbotron">
    <!-- <h1>HELP</h1> -->
</div>

<div class="container-fluid blurb">
   <div class="row">
           <h3><%= image_tag "title2.png", :class=>"img-responsive" %></h3>
   </div>
</div>

<div class="container-fluid">
    <div class="row features">
        <div class="col-xs-12 col-sm-4 center-block">
            <%= link_to image_tag("code.jpg", class: "img-responsive"), webdev_path %>
            <p class="bold">Code!</p><p>Web development projects.</p>   
        </div>
                
        <div class="col-xs-12 col-sm-4 center-block">
            <%= link_to image_tag("costumes.jpg", class: "img-responsive"), costumes_path %>
            <p class="bold">Costumes!</p><p>Costumes made for myself.</p>
        </div>
        <div class="col-xs-12 col-sm-4 center-block">
            <%= link_to image_tag("commissions.jpg", class: "img-responsive"), commissions_path %>
            <p class="bold">Commissions!</p><p>Costumes made for others.</p>
        </div>
    </div>  
</div>