<div class="jumbotron">
    <h1><%= image_tag("title.png", class: "img-responsive") %></h1>
</div>

<div class="container-fluid blurb">
   <div class="row">
           <h3>  Something should probably go here? BUT WHAT???</h3>
   </div>
</div>

<div class="container-fluid">
    <div class="row features">
        <div class="col-xs-12 col-sm-4 center-block">
            <%= link_to image_tag("code.jpg", class: "img-responsive"), code_path %>
            <p>My code!</p>   
        </div>
                
        <div class="col-xs-12 col-sm-4 center-block">
            <%= link_to image_tag("costumes.jpg", class: "img-responsive"), costumes_path %>
            <p>My costumes!</p>
        </div>
        <div class="col-xs-12 col-sm-4 center-block">
            <%= link_to image_tag("commissions.jpg", class: "img-responsive"), commissions_path %>
            <p>My commissions!</p>
        </div>
    </div>  
</div>