<div class="header">
	<h1>Resume</h1>
</div>

<div class="container resume">
	<h1>mariel van norman</h1>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h2>skills</h2>
			<ul>
				<li>HTML, CSS, &amp; Sass</li>
				<li>Ruby on Rails</li>
				<li>Photoshop &amp; Illustrator</li>
				<li>Version Control with Git</li>
				<li>Javascript &amp; jQuery</li>
				<li>Email Template Design</li>
				<li>Bootstrap, Foundations, MDL</li>
				<li>Jekyll</li>
				<li>Social Media</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h2>education</h2>
			<ul>
				<li><span>Skookum</span> - 2015 - Night Shift</li>
				<li><span>Tech Talent South</span> - 2015 - Full Time Code Immersion, Next Level Rails</li>
				<li><span>UNC Greensboro</span> - 2006-2011 - Media Studies</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h2>references</h2>
			<ul>
				<li><a href="mailto:betsy@techtalentsouth.com">Betsy Hauser Idilbi</a> - Co-Founder @ TTS</li>
				<li><a href="mailto:hjlehman@gmail.com">Hannah Lehman</a> - Instructor @ TTS</li>
				<li><a href="mailto:shane@techtalentsouth.com">Shane Barringer</a> - Instructor @ TTS</li>
				<li><a href="mailto:info@yourcustomexpress.com">Eric Mullis</a> - Owner @ Custom Express</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h2>work history</h2>
			<ul>
				<li><span>Tech Talent South</span> - 2015 - Instructor for Fall Full Time Code Immersion class (Charlotte) &amp; Pop Up Code (Wilmington, Phoenix)</li>
				<li><span>Tech Talent South</span> - 2015 - Teacher Assistant, Summer Full Code Immersion class &amp; Spring Front End Design class</li>
				<li><span>Podkeeper</span> - 2015 - UX intern, email template design, ad design</li>
				<li><span>Seamstress</span> - 2004 - present</li>
				<li><span>Custom Express Embroidery &amp; Screenprinting</span> - 2014-2015 - front desk, graphics and embroidery design, social media</li>
			</ul>
		</div>
	</div>
	
	
</div>