<div class="header">
	<h1>Resume</h1>
</div>

<div class="container resume">
	<h1>mariel van norman</h1>

	<div>
		<h2>skills</h2>
		<ul>
			<li>HTML, CSS, &amp; Sass</li>
			<li>Ruby on Rails</li>
			<li>Photoshop &amp; Illustrator</li>
			<li>Version Controll with Git</li>
			<li>Javascript &amp; jQuery</li>
			<li>Email Template Design</li>
			<li>Bootstrap, Foundations, Material Design Lite</li>
			<li>Jekyll</li>
			<li>Social Media</li>
		</ul>
	</div>

	<div>
		<h2>education</h2>
		<ul>
			<li>2015: Skookum - Night Shift</li>
			<li>2015: Tech Talent South - Next Level Rails</li>
			<li>2015: Tech Talent South - Full Time Code Immersion</li>
			<li>2006-2011: UNC Greensboro</li>
		</ul>
	</div>

	<div>
		<h2>work history</h2>
		<ul>
			<li>2015: Tech Talent South - Ruby on Rails instructor, Pop Up Code Wilmington</li>
			<li>2015: Tech Talent South - Teacher Assistant, Summer Full Time class &amp; Spring Front End Design class</li>
			<li>2015: Podkeeper - UX intern, email template design, ad design</li>
			<li>2004-present: Seamstress</li>
			<li>2014-2015: Custom Express Embroidery &amp; Screenprinting - front desk, graphics and embroidery design, social media</li>
		</ul>
	</div>

	<div>
		<h2>references</h2>
		<ul>
			<li>Betsy Hauser - Co-Founder @ TTS</li>
			<li>Hannah Lehman - Instructor @ TTS</li>
			<li>Shane Barringer - Instructor @ TTS</li>
			<li>Eric Mullis - Custom Express - Owner @ Custom Express</li>
		</ul>
	</div>
	
</div>